[submodule "Common/MU"]
	path = Common/MU
	url = https://github.com/microsoft/mu_plus.git
[submodule "Common/MU_OEM_SAMPLE"]
	path = Common/MU_OEM_SAMPLE
	url = https://github.com/microsoft/mu_oem_sample.git
[submodule "Common/MU_TIANO"]
	path = Common/MU_TIANO
	url = https://github.com/microsoft/mu_tiano_plus.git
[submodule "MU_BASECORE"]
	path = MU_BASECORE
	url = https://github.com/microsoft/mu_basecore.git
[submodule "Platforms/Binaries"]
	path = Platforms/Binaries
	url = https://github.com/Robotix22/MU-Qcom-binaries.git
[submodule "GPLDrivers/Library/SimpleInit"]
	path = GPLDrivers/Library/SimpleInit
	url = https://github.com/BigfootACA/simple-init.git
[submodule "Silicon/Arm/MU_TIANO"]
	path = Silicon/Arm/MU_TIANO
	url = https://github.com/microsoft/mu_silicon_arm_tiano.git
[submodule "Features/DFCI"]
	path = Features/DFCI
	url = https://github.com/microsoft/mu_feature_dfci.git
