Build/
Conf/
ImageResources/bootpayload.bin
Mu-*.img
Platforms/Xiaomi/ginkgoPkg/__pycache__/
Platforms/Xiaomi/laurel_sproutPkg/__pycache__/
Platforms/Xiaomi/limePkg/__pycache__/
Platforms/Xiaomi/viliPkg/__pycache__/
Platforms/Xiaomi/sweet_k6aPkg/__pycache__/
Platforms/Samsung/gts8Pkg/__pycache__/
Platforms/Samsung/q2qPkg/__pycache__/
