##
##  RPMB/GPT Partition configuration file
##

## This version number needs to match the partition table version in TZ 
[VersionNum]
Version = 0x0100

########################################################################
##
## List of Device IDs
##    0 = User Partition
##    1 = Boot1 Partition 
##    2 = Boot2 Partition  
##    3 = RPMB Partition 
##    4 = GPP1 Partition
##    5 = GPP2 Partition
##    6 = GPP3 Partition
##    7 = GPP4 Partition 
##    8 = All Partitions (GPT only; we will search all the GPT partitions
##                        and find the physical partition that contains 
##                        the partition GUID specified) 
##
########################################################################

########################################################################
##
## For RPMB partitions, the section chosen will be based off the RPMB 
## size. So, a eMMC that has a RPMB of size 128KB will use section 
## [RPMB.128KB].  
##
## Each section should look like the following: 
## 
## The first line of the RPMB section should contain the device ID. 
## Example first line: 
##       DevId = 3
##
## The subsequent lines for the RPMB section will contain information about 
## the partitions to be added. For each partition added, you will provide the 
## following: 
##       AppName: The application that will use the partition  
##       AppPartitionId: Partition type (values are up to the user)
##       SizeInSectors: Size of the partition in sectors
##
## Example new partition:  
##       AppNameId = qcom.tz.sampleapp
##       AppPartitionId = 9
##       SizeInSectors = 4
##
## Repeat the step above for all partitions to be added. 
##
########################################################################
## Example of a RPMB section for RPMB partition of size 128KB with 2 
## partitions:
## 
##    [RPMB.128KB]
##    DevId = 3
##
##    AppNameId = qcom.tz.sampleapp
##    AppPartitionId = 9
##    SizeInSectors = 4
##
##    AppNameId = qcom.tz.sampleapp
##    AppPartitionId = 11
##    SizeInSectors = 6
##
###############################################################################\

## RPMB Partitions 

## RPMB Size = 128KB
[RPMB.128KB]
DevId = 3

## UEFI RT_S_NV 
AppNameId = qcom.tz.uefisecapp
AppPartitionId = 3
SizeInSectors = 160

## UEFI_RT_NS_NV
AppNameId = qcom.tz.uefisecapp
AppPartitionId = 4
SizeInSectors = 48

## fTPM
AppNameId = qcom.tz.winsecapp
AppPartitionId = 5
SizeInSectors = 40


## RPMB Size = 256KB 
[RPMB.256KB]
DevId = 3

## UEFI RT_S_NV 
AppNameId = qcom.tz.uefisecapp
AppPartitionId = 3
SizeInSectors = 184

## UEFI_RT_NS_NV
AppNameId = qcom.tz.uefisecapp
AppPartitionId = 4
SizeInSectors = 208

## fTPM
AppNameId = qcom.tz.winsecapp
AppPartitionId = 5
SizeInSectors = 80


########################################################################
##
## For GPT partitions, there will be one section only. The section name 
## must be [GPT].
##
## Each section should look like the following: 
## 
## The first part of the GPT section should contain the device ID and 
## the partition GUID 
## Example: 
##       DevId = 4
##       PartitionGuid = "2275A3E4 6727 4D06 9EF1 EEE2ABDD38E1"
##
## The next part of the GPT section will contain information about the 
## partitions to be added. For each partition added, you will provide 
## the following: 
##       AppPartitionId: Partition type (values are up to the user)
##       SizeInBytes:    Partition size in bytes
##
## Example new partition:  
##       AppPartitionId = 9
##       SizeInBytes    = 2048
##
## Repeat all the steps above for each subsequent device (i.e. whenever 
## there is a different device ID or partition GUID) to be added. Keep 
## everything in one section; don't create a new one. 
##
########################################################################
## Example of a GPT section with 2 partitions 
## 
##    [GPT]
##    DevId = 8
##    PartitionGuid = "5F85FC54 55DE 4D8B 9C81 99B464F39DEC"
##
##    AppPartitionId = 1
##    SizeInSectors = 12
##
##    AppPartitionId = 2
##    SizeInSectors = 16
##
#######################################################################\

## GPT Partitions 

## Note: GUID should not have "-" char, instead replace them with spaces

[GPT]
DevId = 8
PartitionGuid = "8BF4B4F0 BAAE CF4E 9142 5DC30CDC3E77"

## UEFI BS_S_NV
AppPartitionId = 1
SizeInBytes = 65536

## UEFI BS_NS_NV
AppPartitionId = 2
SizeInBytes = 131072
















